<% if @cat.persisted? %>
	<form action="<%= cat_url(@cat) %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
<% else %>
	<form action="<%= cats_url %>" method="POST">
<% end %>

	<label for="cat_name">Name</label>
	<input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">
	<br>
	<label for="cat_color">Coat Color</label>
	<select name="cat[color]" id="cat_color">
		<option selected><%= @cat.color %></option>
		<% Cat::COLORS.each do |color| %>
			<option value=<%= color %>><%= color %></option>
			<% end %>
	</select>
	<br>
	<input type="radio" name="cat[sex]" id="cat_sex_female" value="F" <%= "checked" if @cat.sex == "F" %>>
  <label for="cat_sex_female">Female</label>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M" <%= "checked" if @cat.sex == "M" %>>
  <label for="cat_sex_male">Male</label>
	<br>
	<label for="cat_birth_date">Birth Date</label>
	<input type="date" name="cat[birth_date]" id="cat_birth_date" value="<%= @cat.birth_date %>">
	<br>
	<label for="cat_description">Description of Cat</label>
	<textarea name="cat[description]" id="cat_description"><%= @cat.description %></textarea>
<br><br>
	<input type="submit" value="change your cat - to a better cat or a worse cat">
</form>